
//-----===== Адаптив ====-----//

@media (max-width: 1200px) {

  // 1 .header
  .header {

    .header__person{
      justify-self: center;
    }

    .header__email{
      justify-self: right;
    }

  }

}

@media (max-width: 1080px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 980px) {

  // 2 .pictures
  .pictures{
    grid-template-areas:
          "img1 img2 img3"
          "img1 img5 img5"
          "img4 img4 img6";
  }

}

@media (max-width: 768px) {

  // 2 .pictures
  .pictures{
    grid-template-areas:
          "img1 img2"
          "img1 img3"
          "img4 img4"
          "img5 img5"
          "img6 img6";
  }

  // 3 .profile
  .profile{
    grid-template-columns: auto;

    .profile__info{
      border-right: none;
    }

    .profile__text{
      margin-right: 0;
    }

    .profile__right{
      justify-self: center;
    }

    .profile__btn{
      margin: 20px 0;
    }
  }

  // 5 .footer
  .footer{

    .footer__wrap{
      grid-template-columns: auto;
    }

    .footer__left{
      margin-bottom: 20px;
    }

    .footer__nav{
      justify-content: center;
      margin: 0 0 20px 0;
    }

    .footer__item{
      margin-bottom: 10px;
    }

    .footer__copy{
      text-align: center;
    }

    .footer__right{
      text-align: center;
    }
  }

}

@media (max-width: 600px) {

  // 1 .header
  .header {

    .header__wrap{
      grid-template-columns: 145px auto 130px;
      grid-column-gap: 5px;
    }

    .header__logo{
      grid-area: 1 / 1 / 2 / -1;
    }

    .header__email{
      grid-area: 2 / 3 / 3 / 4;
    }

  }

  // 3 .profile
  .profile{

    .profile__left{
      grid-template-columns: auto;
    }

    .profile__img{
      justify-self: center;
      margin-bottom: 15px;
    }

  }

}

@media (max-width: 480px) {

  // 2 .pictures
  .pictures{
    grid-template-areas:
          "img2 img1"
          "img3 img1"
          "img4 img4"
          "img5 img5"
          "img6 img6";
  }

}